body {
  font-family: "Open Sans";
  text-align: center;
}

.wrapper {
  max-width: 500px;
  margin: 14vh auto;
}

.wrapper h1 {
  font-size: 42px;
}

.wrapper hr {
  margin: 40px 0;
  opacity: 0.5;
}

.wrapper address {
  line-height: 28px;
  font-style: normal;
}